section {
  padding: 5rem 0;
}
html {
  font-size: 10px;
}
body {
  font-family: 'Fira Sans', sans-serif;
}
a:hover {
  text-decoration: none;
}
button:focus,
input:focus,
a:focus,
textarea:focus,
.slick-slide:focus {
  outline: none;
}
.section-header {
  font-size: 3.7rem;
  text-align: center;
  color: #bc1616;
  margin-top: 6rem;
  margin-bottom: 4rem;
  text-transform: uppercase;
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
}
.section-header2 {
  font-size: 1.8rem;
  text-align: center;
}
.button {
  text-align: center;
  padding: 2rem 11rem;
  font-size: 2.4rem;
  background-color: #bc1616;
  color: #fff;
  border: none;
  border-radius: 4px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.button:hover {
  cursor: pointer;
  background-color: #a51313;
}
.header {
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 6rem;
}
.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header img {
  height: 55px;
}
.header ul li {
  padding-right: 1.4rem;
}
.header ul li a {
  text-transform: uppercase;
  display: inline-block;
  color: black;
  font-size: 1.6rem;
}
.header-contacts {
  margin-left: 2rem;
  font-size: 1.3rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-contacts a {
  font-size: 2.4rem;
  color: #bc1616;
}
.header-md {
  display: none;
  min-height: 9rem;
  margin-bottom: 2rem;
}
.header-md-logo {
  text-align: center;
  display: inline-block;
}
.header-md-contacts {
  display: inline-block;
}
.header-md-wrap {
  text-align: center;
}
.header-md-nav {
  text-align: center;
  float: center;
}
.header-md-nav-wrap {
  margin: 0 auto;
}
.main {
  background: #ffffff url(../img/bg.jpg) center no-repeat;
  background-size: cover;
  height: 71rem;
}
.main-content {
  padding-top: 11rem;
  text-align: center;
}
.main-content h1 {
  font-size: 5rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}
.main-content-text {
  font-size: 2.1rem;
  padding-bottom: 4.5rem;
  color: #fff;
}
.main-content-example {
  display: inline-block;
  padding: 3.5rem 3rem;
  background-color: rgba(0, 0, 0, 0.75);
  width: 420px;
}
.main-content-example h3 {
  color: #bc1616;
  font-size: 2.6rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.main-content-example > p {
  font-size: 1.7rem;
  color: #fff;
}
.main-content-example > p > span {
  color: #bc1616;
  text-decoration: line-through;
}
.main-btn {
  display: block;
  margin: auto;
  margin-top: 7rem;
}
.services-media {
  width: 540px;
  min-height: 8rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f1f0f0;
  margin-bottom: 2rem;
}
.services-media-left {
  display: inline-block;
  margin-left: 2rem;
  margin-right: 1rem;
}
.services-media-right {
  padding: 1.5rem 0;
  display: inline-block;
  font-size: 1.6rem;
  margin-bottom: 0;
  margin-right: 1.5rem;
  width: 28rem;
}
.services-media-right > span {
  color: #bc1616;
}
.services-media-l {
  margin-left: 2rem;
}
.services-btn {
  padding: 1rem 4rem;
}
.question-bg {
  width: 100%;
  height: 40rem;
  background: #808080 url(../img/bg-question.jpg) center no-repeat;
  background-size: cover;
}
.question-bg > h2 {
  color: #fff;
  font-size: 5.2rem;
  text-transform: uppercase;
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;
  padding-top: 10rem;
  padding-bottom: 7rem;
  margin: 0;
  letter-spacing: 2px;
}
.question-bg > button {
  margin: 0 auto;
}
.changes-section-header {
  margin-bottom: 0.5rem;
  margin-top: 0;
}
.changes p {
  font-size: 1.7rem;
}
.changes ul {
  list-style-type: none;
  padding-left: 0;
  padding-top: 2rem;
  width: 52rem;
  margin-left: 3rem;
}
.changes ul li {
  position: relative;
  font-size: 1.5rem;
  padding-left: 4rem;
  margin-bottom: 2rem;
}
.changes ul li:before {
  content: '';
  background: url('../img/check.png') no-repeat center;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 3rem;
  height: 3rem;
}
.kind {
  background: #000000 url(../img/kind/bg.jpg) center no-repeat;
  background-size: cover;
  color: #fff;
}
.kind h2 {
  color: #fff;
  margin-top: 0;
}
.kind img {
  height: 11rem;
}
.kind-block-1 > p {
  font-size: 1.6rem;
}
.kind-block-2 {
  padding-top: 10rem;
  font-size: 1.6rem;
  text-align: center;
  position: relative;
}
.kind-block-2 p {
  margin-top: 3rem;
}
.kind-block-2-wrap {
  min-height: 25rem;
}
.kind-block-2:before {
  position: absolute;
  content: "";
  width: 50%;
  height: 1px;
  background-color: #bc1616;
  -webkit-transform: translateX(-50%) translateY(-5000%);
          transform: translateX(-50%) translateY(-5000%);
  margin-bottom: 5rem;
}
.features h2 {
  margin-bottom: 2rem;
  margin-top: 0;
}
.features .section-header2 {
  font-size: 1.6rem;
  margin-bottom: 4rem;
}
.features-block {
  padding-left: 0;
}
.features-block > p {
  color: #404040;
  display: inline-block;
  max-width: 26rem;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}
.sample {
  padding-top: 0;
  padding-bottom: 0;
}
.sample-wrap {
  background-color: #f1f0f0;
  padding-top: 5rem;
}
.sample-block {
  margin-top: 3rem;
  padding-bottom: 6.5rem;
}
.feedback-text {
  text-align: center;
  position: relative;
}
.feedback-text h2 {
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
}
.feedback-text p {
  position: absolute;
  height: 100%;
  margin-bottom: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 0;
  max-width: 30%;
}
.feedback-slider {
  margin-top: 5rem;
}
.feedback-slider-text {
  display: inline-block;
  max-width: 65%;
  margin-left: 3rem;
  vertical-align: middle;
}
.feedback-slider img {
  height: 25rem;
}
.feedback-slider p {
  display: inline-block;
  font-size: 1.4rem;
}
.feedback-slider span {
  display: inline-block;
  font-size: 2rem;
  color: #bc1616;
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;
}
.feedback-slider-btn {
  width: 3rem;
  height: 5rem;
  background-color: #fff;
  border: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.feedback-slider-btn-next {
  right: -30px;
}
.feedback-slider-btn-prev {
  left: -30px;
}
.feedback-slider-btn img {
  width: 50%;
  height: 50%;
}
.slick-slider img {
  display: inline-block;
}
.footer {
  background: #000000 url(../img/kind/bg.jpg) center no-repeat;
  min-height: 12rem;
}
.footer .row {
  height: 12rem;
}
.footer-logo {
  height: 100%;
  padding-top: 1rem;
}
.footer-logo img {
  height: 5.9rem;
}
.footer-icon {
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3rem;
  min-width: 20rem;
  padding-top: 1rem;
}
.footer-icon svg {
  height: 3rem;
  width: 3rem;
}
.footer-adress {
  padding-top: 2rem;
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.7rem;
}
.footer-contacts {
  margin: 0;
  padding: 0;
  left: 0;
  padding-left: 11rem;
  padding-top: 1.3rem;
  color: #fff;
}
.footer-contacts > span {
  display: inline-block;
  font-size: 1.3rem;
  min-width: 20rem;
}
.footer-contacts a {
  color: #fff;
  font-size: 2.4rem;
}
.img-svg {
  fill: #fff;
}
.menu-nav {
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
  position: fixed;
  top: 7rem;
  left: 0;
  z-index: 999;
  display: none;
}
.menu-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.menu-nav ul li {
  background-color: #fff;
  border-bottom: 1px solid #d7d7d7;
  padding: 2.5rem 0;
  position: relative;
}
.menu-nav-item a {
  font-size: 1.6rem;
  padding-left: 1.5rem;
  color: #444;
  text-transform: uppercase;
}
.menu-nav-item a:after {
  content: '';
  background: #ffffff url(../img/arrow.svg) center no-repeat;
  height: 2rem;
  width: 2rem;
  display: inline-block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 3%;
}
.menu-btn,
.menu-btn2 {
  border: none;
  background-color: transparent;
}
.menu-btn2 {
  display: none;
}
@media (max-width: 1199px) {
  .menu {
    display: none;
  }
  .section-header {
    font-size: 3.3rem;
  }
  .section-header2 {
    font-size: 1.6rem;
  }
  .header img {
    height: 4.7rem;
  }
  .header ul li {
    padding-right: 0.2rem;
  }
  .header ul li a {
    font-size: 1.5rem;
    padding-right: 0;
  }
  .services-media {
    width: 45rem;
  }
  .services-media-l {
    margin-left: 1.5rem;
  }
  .services-media-right {
    width: 21rem;
    font-size: 1.4rem;
  }
  .services-media-right-h {
    height: 92.4px;
  }
  .services-btn {
    padding: 0.7rem 3rem;
    font-size: 2.1rem;
  }
  .features-block {
    padding-left: 1rem;
  }
  .ofs {
    display: none;
  }
  .footer-logo {
    padding-top: 2rem;
  }
  .footer-contacts {
    padding-left: 10rem;
  }
  .changes ul {
    width: 42rem;
  }
}
@media (max-width: 991px) {
  .section-header {
    font-size: 3rem;
  }
  .section-header2 {
    font-size: 1.4rem;
  }
  .header-lg {
    display: none;
  }
  .header-lg-nav {
    display: none;
  }
  .header-md {
    display: block;
  }
  .main-content h1 {
    font-size: 4rem;
  }
  .main p {
    font-size: 1.6rem;
  }
  .main p br {
    display: none;
  }
  .services-media-l {
    margin-left: 0;
  }
  .services-media-wrap {
    text-align: center;
  }
  .changes ul {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 35rem;
  }
  .changes ul li {
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
    padding-left: 3rem;
  }
  .changes ul li:before {
    width: 2.5rem;
    height: 2.5rem;
  }
  .features img {
    height: 4.5rem;
    margin-top: 1rem;
  }
  .features-block p {
    font-size: 1.3rem;
  }
  .footer-logo {
    padding-top: 2rem;
  }
  .footer-contacts {
    padding-left: 5rem;
  }
}
@media (max-width: 767px) {
  .menu {
    top: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    height: 100%;
  }
  .menu span {
    font-size: 1.6rem;
    margin-left: 0.5rem;
  }
  .header-md {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    background: #fff;
    min-height: 7rem;
    margin: 0;
    padding-top: 1rem;
    -webkit-box-shadow: 0 2px 4px rgba(241, 241, 241, 0.5);
            box-shadow: 0 2px 4px rgba(241, 241, 241, 0.5);
    z-index: 9999;
  }
  .header-md-nav {
    display: none;
  }
  .section-header {
    font-size: 2.7rem;
  }
  .section-header2 {
    font-size: 1.4rem;
  }
  .main-content h1 {
    font-size: 3.5rem;
  }
  .main-content p {
    font-size: 1.4rem;
  }
  .services-media {
    width: 45rem;
  }
  .services-media-l {
    margin-left: 0;
  }
  .question-bg {
    height: 35rem;
  }
  .question-bg h2 {
    font-size: 3.4rem;
  }
  .question-bg button {
    padding: 1.5rem 8rem;
    font-size: 2rem;
  }
  .changes ul {
    margin: 0 auto;
    display: block;
    width: 80%;
  }
  .changes ul li {
    font-size: 1.7rem;
  }
  .features img {
    height: 6rem;
    margin-top: 1rem;
  }
  .features-block p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  .features-row {
    text-align: center;
  }
  .feedback-slider-text {
    margin-left: 2rem;
  }
  .feedback-slider-element > img {
    height: 20rem;
  }
  .footer img {
    height: 5rem;
  }
  .footer-logo {
    padding-top: 3rem;
  }
  .footer-contacts {
    padding-left: 0;
  }
}
@media (max-width: 576px) {
  .menu span {
    font-size: 1.2rem;
  }
  .header-md-logo img {
    height: 4rem;
  }
  .feedback-slider-btn-next {
    right: 0;
    background-color: transparent;
  }
  .feedback-slider-btn-prev {
    left: 0;
    z-index: 999999;
    background-color: transparent;
  }
  .feedback-slider-text {
    margin-left: 1rem;
  }
  .feedback-slider p {
    font-size: 1.2rem;
  }
  .feedback-slider span {
    font-size: 1.7rem;
  }
  .feedback-slider-element > img {
    height: 17rem;
  }
  .footer .row {
    height: auto;
  }
  .footer img {
    height: 5rem;
  }
  .footer-logo {
    padding-top: 3rem;
    text-align: center;
    margin: 0 auto;
  }
  .footer-adress {
    max-width: 40%;
    margin: 0 auto;
    text-align: center;
  }
  .footer-contacts {
    text-align: center;
    padding-left: 0;
    display: block;
    width: auto;
    margin: 0 auto;
  }
  .footer-icon {
    height: auto;
    padding-top: 0;
    text-align: center;
    margin-left: 3rem;
  }
}
@media (max-width: 470px) {
  .menu span {
    display: none;
  }
  .menu-nav {
    top: 6rem;
  }
  .header-contacts {
    font-size: 1rem;
  }
  .header-contacts a {
    font-size: 1.7rem;
  }
  .header-md {
    min-height: 6rem;
  }
  .header-md-contacts {
    padding-top: 0.5rem;
    vertical-align: middle;
  }
  .section-header {
    font-size: 2.7rem;
  }
  .section-header2 {
    font-size: 1.4rem;
  }
  .main-content-example {
    padding: 1.75rem 1.5rem;
    width: 80%;
  }
  .main-content h1 {
    font-size: 3rem;
  }
  .main-content p {
    font-size: 1.2rem;
  }
  .main-btn {
    font-size: 2rem;
    padding: 1.3rem 7rem;
  }
  .services-media {
    width: 80%;
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 10px;
  }
  .services-media-l {
    margin: 0 auto;
  }
  .services-media-right {
    width: 80%;
  }
  .services-media-right-h {
    height: auto;
  }
  .services-media-left {
    display: none;
  }
  .services-btn {
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
  .changes ul {
    width: 100%;
  }
  .changes ul li {
    font-size: 1.4rem;
  }
  .feedback-slider p {
    font-size: 1rem;
  }
  .feedback-slider span {
    font-size: 1.4rem;
  }
  .feedback-slider-element > img {
    height: 14rem;
  }
  .feedback .section-header2 {
    font-size: 0.8rem;
  }
  .menu-nav-item a {
    font-size: 1.3rem;
  }
}
@media (max-width: 357px) {
  .main-content h1 {
    font-size: 2.5rem;
  }
  .section-header {
    font-size: 2.3rem;
  }
  .section-header2 {
    font-size: 1.2rem;
  }
  .question-bg button {
    padding: 1.2rem 6.1rem;
    font-size: 1.5rem;
  }
  .changes {
    padding: 2.5rem 0;
  }
  .changes ul li {
    font-size: 1.2rem;
  }
  .kind-block-1 p {
    font-size: 1.3rem;
  }
  .features .section-header2 {
    font-size: 1.3rem;
  }
  .features img {
    height: 5rem;
    margin-top: 1rem;
  }
  .features-block p {
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }
  .feedback-slider p {
    font-size: 0.8rem;
  }
  .feedback-slider span {
    font-size: 1.2rem;
  }
  .feedback-slider-element > img {
    height: 10rem;
  }
}
@media (max-width: 300px) {
  .header-contacts {
    font-size: 0.8rem;
    margin-left: 0.5rem;
  }
  .header-contacts a {
    font-size: 1.5rem;
  }
  .header-md img {
    height: 3rem;
  }
}
