section {
  padding: 5rem 0;
}
html {
  font-size: 10px;
}
body {
  font-family: 'Fira Sans', sans-serif;
}
a:hover {
  text-decoration: none;
}
button:focus,
input:focus,
a:focus,
textarea:focus,
.slick-slide:focus {
  outline: none;
}
.section-header {
  font-size: 3.3rem;
  text-align: center;
  color: #bc1616;
  margin-top: 6rem;
  margin-bottom: 4rem;
}
.button {
  text-align: center;
  padding: 2rem 11rem;
  font-size: 2.4rem;
  background-color: #bc1616;
  color: #fff;
  border: none;
  border-radius: 4px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.button:hover {
  cursor: pointer;
  background-color: #a51313;
}
.header {
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 6rem;
}
.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header img {
  height: 55px;
}
.header ul li {
  padding-right: 1.4rem;
}
.header ul li a {
  text-transform: uppercase;
  display: inline-block;
  color: black;
  font-size: 1.6rem;
}
.header-contacts {
  margin-left: 2rem;
  font-size: 1.3rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-contacts a {
  font-size: 2.4rem;
  color: #bc1616;
}
.main {
  background: #ffffff url(../img/bg.jpg) center no-repeat;
  background-size: cover;
  height: 71rem;
}
.main-content {
  padding-top: 11rem;
  text-align: center;
}
.main-content h1 {
  font-size: 5rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}
.main-content-text {
  font-size: 2.1rem;
  padding-bottom: 4.5rem;
  color: #fff;
}
.main-content-example {
  display: inline-block;
  padding: 3.5rem 3rem;
  background-color: rgba(0, 0, 0, 0.75);
  width: 420px;
}
.main-content-example h3 {
  color: #bc1616;
  font-size: 2.6rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.main-content-example > p {
  font-size: 1.7rem;
  color: #fff;
}
.main-content-example > p > span {
  color: #bc1616;
  text-decoration: line-through;
}
.main-btn {
  display: block;
  margin: auto;
  margin-top: 7rem;
}
.services-header {
  font-size: 1.8rem;
  text-align: center;
}
.services-media {
  width: 540px;
  min-height: 8rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f1f0f0;
  margin-bottom: 2rem;
}
.services-media-left {
  display: inline-block;
  margin-left: 2rem;
  margin-right: 1rem;
}
.services-media-right {
  padding: 1.5rem 0;
  display: inline-block;
  font-size: 1.6rem;
  margin-bottom: 0;
  margin-right: 1.5rem;
  width: 28rem;
}
.services-media-right > span {
  color: #bc1616;
}
.services-media-l {
  margin-left: 2rem;
}
.services-btn {
  padding: 1rem 4rem;
}
.question-bg {
  width: 100%;
  height: 40rem;
  background: #808080 url(../img/bg-question.jpg) center no-repeat;
  background-size: cover;
}
.question-bg > h2 {
  color: #fff;
  font-size: 5.2rem;
  text-transform: uppercase;
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;
  padding-top: 10rem;
  padding-bottom: 7rem;
  margin: 0;
  letter-spacing: 2px;
}
.question-bg > button {
  margin: 0 auto;
}
